@page
@model BankRPSSQL.Pages.TransactionHistoryModel
@{
    ViewData["Title"] = "TransactionHistory";
}

<h2>Transaction History</h2>
<table class="table">
    <tr>
        <th>
            Transaction Date
        </th>
        <th>
            Checking AcctNum 
        </th>
        <th>
            SavingAcctNum
        </th>
        <th>
            Amount
        </th>
        <th>
            TransactionFee
        </th>
        <th>
            Transaction Name
        </th>
    </tr>
    @foreach (var item in Model.TList)
    {
        <tr>
            <td>
                @item.TransactionDate
            </td>
            <td>
                @item.CheckingAccountNumber
            </td>
            <td>
                @item.SavingAccountNumber
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @item.TransactionFee
            </td>
            <td>
                @item.TransactionTypeName
            </td>
        </tr>
    }
</table>